#bonus{
    margin-bottom: 40px;
}

#bonus2{
    margin-bottom: 40px;
}

#bonus3{
    margin-bottom: 40px;
}

#bonus4{
    margin-bottom: 40px;
}

.retangulo {
    /* width: 100px; */
    height: 20px;
    margin: 10px;
}